/* src/styles/variables.css */
:root {
  --highlight: #3450c7;
  --bg-primary: #f7f8fa;
  --bg-secondary: #ecedf3;
  --text-primary: #14161c;
  --text-secondary: #545765;
  --text-tertiary: #8a8d9c;
  --box-shadow: 0 1px 2px rgba(20, 22, 28, 0.06);
}
